BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: GNU
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
PointerAlignment: Right
